.btn {
	font-family: inherit;
	font-size: 18px;
	cursor: pointer;
	padding: 10px 35px;
	display: inline-block;
	background: none;
	font-weight: 700;
	color: #fff;
	outline: none;
	transition: all 0.3s;
	border-radius: 5px;

}